* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  border: 7px solid transparent;
  padding: 300px 100px 150px 250px;
  position: relative;
  background-image: url(img/logo.png);
}

body {
  background-image: url(img/rick-and-morty-background.jpg);
  color: rgba(218, 214, 214, 0.5);
}
