* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(img/logo.png);
  border: 7px solid transparent;
  height: 100px;
  padding: 300px 100px 150px 250px;
  position: relative;
}

body {
  background-image: url(img/rick-and-morty-background.jpg);
}

h1 {
  background: linear-gradient(to right, #474646, #585656);
  border-radius: 16px 16px;
  color: whitesmoke;
  font-size: 2em;
  font-style: italic;
  padding: 10px;
  text-align: center;
}

button {
  background: linear-gradient(to right, #474646, #585656);
  border-radius: 16px 16px;
  color: whitesmoke;
  font-size: 0.7em;
  font-style: italic;
  font-weight: bold;
  opacity: 1;
  position: relative;
  text-align: center;
}

footer {
  background-image: url(img/logo.png);
  border: 7px solid transparent;
  height: 100px;
  padding: 300px 100px 150px 250px;
  position: relative;
}

.container {
  border: 1px transparent;
  box-sizing: border-box;
  margin: 10%;
  padding: 0 20px;
}

.text {
  background: linear-gradient(to right, #474646, #585656);
  color: whitesmoke;
  font-size: 1.5em;
  font-weight: bold;
  opacity: 1;
  text-align: justify;
}

strong {
  color: rgba(4, 240, 83, 0.534);
  font-size: 0.9em;
  font-weight: bold;
}

div.personagens {
  border-radius: 16px;
  border: 7px solid transparent;
  height: 50%;
  margin: 40px 300px;
  position: relative;
}

h3 {
  background: rgba(245, 245, 245, 0.308);
  padding: 5px;
}

.personagens {
  background: linear-gradient(to right, #474646, #585656);
  display: inline-block;
  margin: 60px 100px;
  padding: 10px;
}

.personagens:hover {
  background: rgb(47, 255, 109);
  cursor: pointer;
}

.personagens > p {
  background: rgba(245, 245, 245, 0.308);
  border-radius: 16px;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

#image {
  border: 7px solid transparent;
  border-radius: 16px;
  height: 50%;
  margin: 40px 300px;
  position: relative;
}

#video {
  border: 7px solid transparent;
  border-radius: 16px;
  margin: 60px 300px;
  position: relative;
  width: 55%;
}
